/.gitignore
.vs/LeetCodeSolution/FileContentIndex/18ca425c-3ee8-4331-8321-3c34c3158b4e.vsidx
.vs/LeetCodeSolution/FileContentIndex/1c8b59f4-0ca3-4d90-8ef7-6879c81d8934.vsidx
.vs/LeetCodeSolution/FileContentIndex/83b4b335-e77a-458c-990a-37ea0155b4f3.vsidx
.vs/LeetCodeSolution/FileContentIndex/8ce6d684-6913-42d0-8e18-c29d9b5b5079.vsidx
.vs/LeetCodeSolution/FileContentIndex/9532707e-9e7a-428f-9511-f680a5685725.vsidx
.vs/LeetCodeSolution/FileContentIndex/afc520af-3332-4dd4-9d66-2ea6015c7064.vsidx
.vs/LeetCodeSolution/FileContentIndex/eb383971-6d19-4a90-bc77-e65ee8fae4fc.vsidx
.vs/LeetCodeSolution/FileContentIndex/read.lock
.vs/LeetCodeSolution/v17/.futdcache.v2
.vs/LeetCodeSolution/v17/.suo
LeetCodeSolution/bin/Debug/net6.0/LeetCodeSolution.dll
LeetCodeSolution/bin/Debug/net6.0/LeetCodeSolution.exe
LeetCodeSolution/bin/Debug/net6.0/LeetCodeSolution.pdb
LeetCodeSolution/obj/Debug/net6.0/apphost.exe
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.AssemblyInfo.cs
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.AssemblyInfoInputs.cache
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.assets.cache
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.csproj.AssemblyReference.cache
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.csproj.CoreCompileInputs.cache
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.csproj.FileListAbsolute.txt
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.dll
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.GeneratedMSBuildEditorConfig.editorconfig
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.genruntimeconfig.cache
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.pdb
LeetCodeSolution/obj/Debug/net6.0/LeetCodeSolution.sourcelink.json
LeetCodeSolution/obj/Debug/net6.0/ref/LeetCodeSolution.dll
LeetCodeSolution/obj/Debug/net6.0/refint/LeetCodeSolution.dll
LeetCodeSolution/obj/LeetCodeSolution.csproj.nuget.dgspec.json
LeetCodeSolution/obj/LeetCodeSolution.csproj.nuget.g.props
LeetCodeSolution/obj/project.assets.json
LeetCodeSolution/obj/project.nuget.cache
